<header class="flex flex-wrap items-center justify-between p-5">
    <h1 class="text-[30px] text-[#2684ee] font-bold font-sans flex-1">ValandTickets</h1>
    <div class="flex flex-wrap items-center space-x-5 gap-4">
      <a class="text-gray-400 m-2 text-lg font-semibold hover:text-blue-700" href="">Eventos</a>
      <a class="text-gray-400 m-2 text-lg font-semibold hover:text-blue-700" href="">Categorías</a>
      <a class="text-gray-400 m-2 text-lg font-semibold hover:text-blue-700" href="">Mi cuenta</a>
    </div>
</header>
<div>
    <div>

    </div>
</div>